@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
  }
  
  .background {
      background-color: rgb(116, 198, 157);
  }
  header {
  
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 38px;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
  }
  li {
    text-decoration: none;
  }
a{
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: rgb(255, 255, 255);
}

a:hover{
  cursor: pointer;
  color: blue;
}


.second_r{
   
    margin-top: 40px;
    text-align: center;
    
  }

.Our_Services:hover{
 color: blue;
}


  .Our_Services{
    padding-top: 16px;
color: rgb(0, 0, 0);
font-weight: 700;
font-size: 40px;
line-height: 125%;
font-family: "Open Sans", sans-serif;

  }

.Plans:hover{
  color: red;
  
}

.start:hover{
  color: aqua;
}




  .Plans{
    font-family: "Work Sans", sans-serif;
    color: rgb(116, 198, 157);
font-weight: 700;
font-size: 16px;
line-height: 125%;

  }


.Left{
  border-radius: 5px;
height: 542px;
width: 339px;
box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
background: rgb(255, 255, 255);
text-align: center;
align-items: center;
}






  .lorem{
   
    padding-top: 16px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    font-family: "Work Sans", sans-serif;
  }

  .third_r{
    margin-top: 78px;
  }


.bas_to_dol{
  position: static;
  width: 279px;
  height: 136px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}


  .Hundred{
    font-family: "Work Sans", sans-serif;
 font-weight: 700;
 font-size: 40px;
 line-height: 125%;
  }
  .dollar{
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
  }

  .mo{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .Basic{
    padding-top: 46px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 125%;
  }

  .lor_15{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    justify-content: center;
    align-items: center;
   height: 57px;
   display: flex;
   max-width: 279px;
  flex-wrap: wrap;
  padding-left:20px;

  }


  .ptichka_general{
    margin-top: 41px;
  }
 
 
  .ptichka{
    padding-left: 30px;
   padding-top: 11px;
    display: flex;
    gap: 11px;
    align-items: center;
  }

  .lorem_5{
    /* Typography/Body/Regular */
color: rgb(33, 37, 41);
font-family: "Work Sans", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
  }

button{
  /* Typography/Sub-Heading/Regular */
color: rgb(255, 255, 255);
font-family: "Work Sans", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
  background-color: rgb(33, 37, 41);
  padding: 13px 29.5px 10px 29.5px;
  margin-top: 45px;
 margin-bottom: 46px;
}



  .third_r
  {
    display: flex;
    gap: 105px;
  }

  button:hover{
    color: #e3e3e3;
background-color: blue;
  }


  .last_p{
  margin-top: 135px;
  width: 1440px;
height: 125px;
display: flex;
align-items: center;
gap: 609px;

  }

  .icons{
    display: flex;
    gap: 20px;
    font-size: rgb(255, 255, 255);
    padding-top: 59px;
    padding-bottom: 48px;
  }


  .rigts{
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
  }
